body {
  font-family: "Open Sans", sans-serif;
/*   font-family: Arial, sans-serif; */
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
}

.big-container {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}


/* ФОН */
.image-container {
  transition: all 0.5s;
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: auto;
  max-height: 1080px;
}

.controls {
  top: 0px;
  left: calc(50% - 50px);
  position: absolute;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.control {
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 0 5px;
  cursor: pointer;
}

.control.active {
  background-color: #9C9C9C;
}
/*  -----------  */

.container {
  backdrop-filter: blur(5px);
  background-color: rgba(9, 9, 9, 0.5);
  top: 100px;
  left: calc(50% - 210px);
  position: absolute;
  width: 400px;

  margin: 0 auto;
  padding: 20px;
  color: rgb(200, 200, 200);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


h1 {
  text-align: center;
/*   color: #333; */

}

form {
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.guest-button,
input,
select {
  font-size: 16px;
  width: 95.5%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.guest-button {
  width: 100%;
  font-weight: 600;
  background-color: #dddddd;
  border: none;
  transition: all 0.2s;
  margin: 10px 0px;
}

.booking-button {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  font-size: 17px;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.guest-button:hover {
  background-color: white;
}

.booking-button:hover {
  background-color: #555;
}

.dropdown {
  position: relative;
/*   display: inline-block; */
  width: 100%;
}

.dropdown-content {

  padding: 20px;
  width: 260px;
  display: none;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  z-index: 1;
  margin-bottom: 10px;
}

.dropdown-content h3 {
  margin: 0;
  color: #666666;
}

.room {
  color: black;
  margin-bottom: 10px;
  position: relative;
}

.guests {
  display: flex;
}

.guest-container {
  margin-right: 15px;
  border-radius: 5px;
}

.guest-container label {
  font-size: 13px;
  color: #646464;
}

.room h4 {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 13px;
}

.counter {
  border: 1px solid #b5b5b5;
  align-items: center;

  border-radius: 3px;
  display: flex;

}

.counter button {
  align-items: center;
  background-color: #eeeeee;
  color: #666666;
  font-weight: 100;
  border-radius: 3px;
  font-size: 26px;
  border: none;
  width: 24px;
  height: 24px;
  margin: 6px;
}

.counter span {
  margin: 0 20px;
}


.remove-room {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  color: #666666;
  border: none;
  cursor: pointer;
}

.buttons {
  display: flex;
}

.add-room-btn {
  background-color: #f1f1f1;
  border: none;
  color: #666666;
  font-size: 15px;
  width: 135px;
  margin-right: 24px;
}

.done-btn {
  color: white;
  background-color: #666666;
  font-weight: 700;
  font-size: 15px;
  width: 102px;
  height: 39px;
  border-radius: 3px;
  border: none;
}

hr {
  margin: 20px 0px;
  height: 1px;
  border: none;
  background-color: #d1d1d1;
}
