<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Номера в отеле</title>
    <link rel="stylesheet" th:href="@{/css/rooms.css}"/>

</head>
<body>
<div class="main-container">
    <div class="up-container">
        <div class="without-hotel-card">
            <h3>
                Номер
                <span th:text="${selectable_room}"> </span>
                из
                <span th:text="${selected_rooms.size()}"> </span>
            </h3>

            <h1>Выбрать номер</h1>

            <div class="selected-nav">
                <div class="room-select-link-button" th:each="room, stat : ${selected_rooms}">
                    <form th:action="@{/book/rooms/{index}(index=${stat.index + 1})}" method="GET">
<!--                    <form th:action="@{/book/rooms/{stat.index + 1}}" method="GET">-->
                       <input type="hidden" name="" th:value="${stat.index + 1}">
                        <button type="submit" class="room-edit-button" th:text="'Номер ' + ${stat.index + 1}">
                        </button>
                    </form>
                </div>
            </div>


            <div th:each="selected_room : ${selected_rooms}">
                <h2 th:text="${selected_room.name}"></h2>
            </div>


            <div class="hotel-amenities">
                <h3> Ваше пребывание в Hilton Hotels & Resorts включает </h3>
                ✓ Бесплатная парковка
                ✓ Номера для некурящих
                ✓ Трансфер из аэропорта
                ✓ Рестораны отеля
                <div>
                    ✓ Фитнес-центр
                    ✓ Номер для размещения с домашними животными
                    ✓ Бизнес-центр
                </div>
            </div>
        </div>

        <div class="hotel-card">
            <img src="https://www.hilton.com/im/en/LEDHIHI/3042168/ledhihi-facade1.jpg?impolicy=crop&cw=4494&ch=2369&gravity=NorthWest&xposition=0&yposition=315&rw=1100&rh=580"/>
            <div class="info">
                <h4>Hilton Saint Petersburg ExpoForum</h4>

                <div class="address">
                    Петербургское шоссе, д. 62, корпус 1, Санкт-Петербург, 196626, Российская Федерация
                </div>
                Информация об отеле >
            </div>
        </div>
    </div>

    <div class="number-and-taxes">
        <div class="room-number">
            Найдено номеров:
            <span th:text="${finded_rooms.size()}"></span>. Отображается средняя цена за ночь
        </div>
        <div class="taxes">
            Налоги включены в стоимость
        </div>
    </div>
    <hr size="1" color="#BBBBBB" width=100%/>

    <div class="cards-grid">
        <div class="room-card" th:each="room : ${finded_rooms}">
            <img class="main-img" th:src="@{${room.image_paths[0].path}}" alt="Номер в отеле">
            <div class="room-info">
                <h2 th:text="${room.name}"></h2>
                <div class="main-description-button-container">
                    <button class="btn-description">
                        Описание номера >
                    </button>
                </div>

                <!--<form th:action="${required_rooms_number == 1 ? '/book/create_form/' : '/book/select_room?id='} + ${room.id}"
                      method="GET">
                    <button class="main-booking-button" th:text="'Забронировать от ' + ${room.price} + '₽'"> ЦЕНА НОМЕРА
                    </button>
                </form>-->

                <form th:action="${'/book/select_room/'} + ${room.id}"
                      method="GET">
                    <button class="main-booking-button" th:text="'Забронировать от ' + ${room.price} + '₽'"> ЦЕНА НОМЕРА
                    </button>
                </form>

                <!-- <form method="GET" action="/book/create_form">
                     <button class="main-booking-button" th:text="'Забронировать от ' + ${room.price} + '₽'"> ЦЕНА НОМЕРА
                     </button>
                 </form>-->

                <div class="description-popup">
                    <div class="description-content">
                        <span class="close">&times;</span>
                        <div class="left-container">
                            <div class="carousel">

                                <div th:each="image : ${room.image_paths}">
                                    <img th:src="${image.path}" alt="Изображение номера"/>
                                </div>

                                <button class="prev">&#10094;</button>
                                <button class="next">&#10095;</button>
                            </div>

                            <div class="left-container-info">
                                <h2 th:text="${room.name}"> НАЗВАНИЕ НОМЕРА</h2>
                                <hr size="1" color="#BBBBBB"/>
                                <p th:text="${room.description}">ОПИСАНИЕ НОМЕРА</p>
                            </div>

                            <div class="inner-button-container">
                                <form th:action="${'/book/select_room/'} + ${room.id}">
                                    <button class="booking-button" th:text="'Забронировать от ' + ${room.price} + '₽'">
                                        ЦЕНА НОМЕРА
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:src="@{/js/rooms.js}"></script>
</div>
</body>
</html>


<!--<img src="https://www.hilton.com/im/en/LEDHIHI/2533884/twin-guest-room-room-shot-2.jpg?impolicy=crop&cw=4387&ch=3000&gravity=NorthWest&xposition=56&yposition=0&rw=740&rh=506"
                                alt="Изображение 1">
                           <img src="https://www.hilton.com/im/en/LEDHIHI/16470419/twin-courtyard-view.jpg?impolicy=crop&cw=4387&ch=3000&gravity=NorthWest&xposition=56&yposition=0&rw=740&rh=506"
                                alt="Изображение 2">
                           <img src="https://www.hilton.com/im/en/LEDHIHI/3050001/king-guest-room-bathroom.jpg?impolicy=crop&cw=4387&ch=3000&gravity=NorthWest&xposition=56&yposition=0&rw=740&rh=506"
                                alt="Изображение 3">-->