<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Номер в отеле</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
          rel="stylesheet">
</head>
<body>
<div class="cards">


    <div class="room-card">
        <img src="https://lionpalacehotel.com/upload/resize_cache/iblock/fa0/700_525_2/2si5a23q6htkfjg514eor3ggr3pt2u0w.jpeg" class="main-img" alt="Номер в отеле">
        <div class="room-info">
            <h2>Номер с двумя односпальными кроватями (Twin) и видом на город</h2>
            <div class="main-description-button-container">
                <button class="btn-description">
                    Описание номера >
                </button>
            </div>

            <div class="description-popup">
                <div class="description-content">
                    <span class="close">&times;</span>
                    <div class="left-container">
                        <div class="carousel">
                            <img src="https://www.hilton.com/im/en/LEDHIHI/2533884/twin-guest-room-room-shot-2.jpg?impolicy=crop&cw=4387&ch=3000&gravity=NorthWest&xposition=56&yposition=0&rw=740&rh=506"
                                 alt="Изображение 1">
                            <img src="https://www.hilton.com/im/en/LEDHIHI/16470419/twin-courtyard-view.jpg?impolicy=crop&cw=4387&ch=3000&gravity=NorthWest&xposition=56&yposition=0&rw=740&rh=506"
                                 alt="Изображение 2">
                            <img src="https://www.hilton.com/im/en/LEDHIHI/3050001/king-guest-room-bathroom.jpg?impolicy=crop&cw=4387&ch=3000&gravity=NorthWest&xposition=56&yposition=0&rw=740&rh=506"
                                 alt="Изображение 3">
                            <button class="prev">&#10094;</button>
                            <button class="next">&#10095;</button>
                        </div>

                        <div class="left-container-info">
                            <h2>Номер с двумя односпальными кроватями (TWIN)</h2>
                            <hr size="1" color="#BBBBBB"/>
                            <p>Бесплатный беспроводной Интернет, отдельные ванна и душ, минибар

                                Отдохните во время пребывания в Санкт-Петербурге в стильном гостиничном номере с видом на внутренний двор и двумя односпальными кроватями (Twin). Оставайтесь на связи благодаря бесплатному беспроводному Интернету или отдохните в элегантной ванной комнате с отдельными ванной и душем.

                                Другие удобства включают минибар, сейф, вмещающий ноутбук, и бесплатную минеральную воду. Размещение для 2.</p>
                        </div>

                        <div class="description-button-container">
                            <button class="booking-button">
                                Забронировать от 11907Р
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <button class="main-booking-button">Забронировать от 88234₽</button>
        </div>
    </div>

</div>
</body>
</html>